node_modules/
examples/**/allure-results/
examples/**/allure-report/
examples/**/*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
python/build/
python/dist/
.pytest_cache/
.venv/
python/release.sh
.env
